<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>
            {% block title %} Sample {% endblock %}
            {% block stylesheets %}{% endblock %}
        </title>
    </head>
    <body>
        {% block body %}
            <div>
            </div>
        {% endblock %}
        <script src="/js/script.js"></script>
    </body>
</html>