<html>
    <head>
        <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="form-div">
            <form method="POST" enctype="multipart/form-data"  action="{{path('insert-record')}}">
                Name <br> <input type="text" required name="name"/> <br>
                Salary <br> <input type="number" required name="salary"/>
                File <br> <input type="file" required name="pdf" accept=".pdf"/>
                <div class="button-div">
                    <button type="submit" name="btn">Sumbit</button>
                </div>
                {{msg is defined ? msg : ''}}
            </form>
        </div>
    </body>
</html>